@use 'mixins' as *;

.site-footer {
  padding-block: var(--space-12);
  color: var(--color-text-on-primary);
  background: var(--gradient-brand);
}

.site-footer__inner {
  @include content-container;

  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  align-items: center;

  @include respond-to(md) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.site-footer__logo {
  width: 168px;
  --logo-accent: currentColor;

  color: var(--color-white);
  transition: transform var(--transition-fast);

  &:hover {
    transform: scale(1.05);
  }
}

.site-footer__copyright {
  font-size: var(--fs-300);
  color: var(--color-white);
}

.site-footer__social {
  --social-fill: var(--color-white);
}

.site-footer__legal {
  @include content-container;

  display: flex;
  gap: var(--space-8);
  justify-content: center;
  margin-block-start: var(--space-10);
}

.site-footer__link {
  font-size: var(--fs-300);
  color: var(--color-white);
  text-decoration: underline;
  text-decoration-color: transparent;
  text-underline-offset: 4px;
  transition: text-decoration-color var(--transition-fast);

  &:hover {
    text-decoration-color: currentcolor;
  }
}
